<% @admins.each do |admin| %>
    <tr>
      <td><%= admin.first_name %></td>
      <td><%= admin.last_name %></td>
      <td><%= admin.email %></td>
      <% if !(admin.email == "jigesh.1992@gmail.com") && !(admin == current_admin) %>
        <td><%= link_to 'Delete Admin', admin, method: :delete, data: { confirm: "Are you sure you want to delete the admin?" } %></td>
      <%end%>
      <br>
    </tr>
<% end %>
<td><%= link_to 'Back', current_admin %></td>