<h1>Add new admin</h1>

<%= form_for(@admin) do |f| %>

    <p><%= f.text_field :first_name, :placeholder  => 'First Name' %></p>
    <p><%= f.text_field :last_name, :placeholder  => 'Last Name' %></p>

    <p><%= f.email_field :email, :placeholder  => 'Email' %></p>

    <p><%= f.password_field :password,  placeholder: 'Password'%></p>

    <p><%= f.password_field :password_confirmation, placeholder: 'Password' %></p>

    <p><%= f.submit "Register" %></p>
<% end %>