 <%= form_for(@admin) do |f| %>

      <p><%= f.label :first_name %>
      <%= f.text_field :first_name %></p>

      <p><%= f.label :last_name %>
      <%= f.text_field :last_name %></p>
      <% if !(current_admin.email == "admin@ncsu.edu") %>
        <p><%= f.label :password %>
        <%= f.password_field :password %></p>

        <p><%= f.label :re_enter_password %>
        <%= f.password_field :password_confirmation %></p>
      <% end %>

   <p><%= f.submit "Update" %></p>
<% end %>