<%= form_tag(books_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search Books" %>
    <%= submit_tag "Search", name: nil  %>
<% end %>

<%if admin_logged_in? %>
    <p><%= link_to "View all users", :users %></p>
    <p><%= link_to "View all books", :books %></p>
    <p><%= link_to "Add book", new_book_path %></p>
    <p><%= link_to "Add another admin", new_admin_path %></p>
    <p><%= link_to "View all admins", :admins %></p>
<%end%>
