
<h2>Library Users</h2>
<% if @users.present? %>
    <table border="4" >
      <tr>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Email</th>
      </tr>
<% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Delete User', user, method: :delete, data: { confirm: "Are you sure you want to delete the user?" } %></td>
      <br/>
    </tr>
<% end %>
 </table>
<br/>
<%= paginate @users %>
<%= page_entries_info @users %>
<br/><br/>
<% else %>
    <p>There are currently no users in the library %></p>
<% end %>