<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>


    <%= form_for(@user) do |f| %>

      <p><%= f.text_field :first_name, :placeholder  => 'First Name' %></p>
      <p><%= f.text_field :last_name, :placeholder  => 'Last Name' %></p>

      <p><%= f.email_field :email, :placeholder  => 'Email' %></p>

      <p><%= f.password_field :password,  placeholder: 'Password'%></p>

      <p><%= f.password_field :password_confirmation, placeholder: 'Password' %></p>

      <p><%= f.submit "Register" %></p>
    <% end %>