<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>

<p><%= link_to "See Checkout history", checkout_user_path(@user) %><p/>

<p><%= link_to "See My recommendations", rec_book_path %><p/>

<p><%= link_to "Recommend a Book", new_recommended_book_path %><p/>

<p><%= link_to "Edit Profile", edit_user_path(@user) %></p>
