<p><%= flash[:error] %></p>

<h1>Add new book</h1>

<%= form_for @book, url: books_path do |f|%>
    <%= f.text_field :isbn, :placeholder => 'ISBN' %>
    <%= f.text_field :title, :placeholder => 'Title' %>
    <%= f.text_field :author, :placeholder => 'Author' %>
    <%= f.text_field :description, :placeholder => 'Description' %>
    <%= f.text_field :status, :placeholder => 'Status' %>
    <%= f.submit 'Add Book' %>
<%end%>
