<p><%= @user.first_name %></p>
<p><%= @user.last_name %></p>
<p><%= @user.email %></p>

<h2>Checkout history</h2>
<%if not @user.checkout_histories.first.nil? %>
    <% @user.checkout_histories.order("issued_at DESC").each do |val| %>
        <p><%= val.book.isbn %></p>
        <p><%= val.book.title %></p>
        <p><%= val.book.author %></p>
        <p><%= val.issued_at %></p>
        <p><%= val.returned_at %></p>
    <% end %>
<%else %>
    <p>Nothing to show!</p>
<% end %>
