<% if admin_logged_in? %>
    <p><%= "First Name : " + @user.first_name %></p>
    <p><%= "Last Name : " + @user.last_name %></p>
    <p><%= "Email : " + @user.email %></p>
<%end%>

<h2>Checkout history</h2> 

<%if not @user.checkout_histories.first.nil? %>

   <table border="4" >
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Authors</th>
        <th>Issued at</th>
        <th>Returned at</th>
      </tr>
    <% @user.checkout_histories.order("issued_at DESC").each do |val| %>
    <tr>
        <td><%= link_to val.book.isbn, val.book %></td>
        <td><%= val.book.title %></td>
        <td><%= val.book.author %></td>
        <td><%= val.issued_at %></td>
        <% if val.returned_at.nil? %>
            <td><%= link_to "Return Book", update_checkout_path(val.book) %></td>
        <% else %>
            <td><%= val.returned_at %></td>
        <%end%>
    </tr>
    <% end %>
    </table>
<%else %>
    <p>Nothing to show!</p>
<% end %>
