<% @users.each do |user| %>
    <tr>
      <td><%= user.first_name %></td>
      <td><%= user.last_name %></td>
      <td><%= user.email %></td>
      <td><%= link_to 'Delete User', user, method: :delete, data: { confirm: "Are you sure you want to delete the user?" } %></td>
      <br>
    </tr>
<% end %>
<td><%= link_to 'Back', current_admin %></td>