<h1>Add book to Library</h1>

<%= form_for @recommended_book, url: recommended_book_path(@recommended_book), method: :patch do |f|%>
    <%= f.text_field :isbn, :placeholder => 'ISBN' %>
    <%= f.text_field :title, :placeholder => 'Title' %>
    <%= f.text_field :author, :placeholder => 'Author' %>
    <%= f.text_field :description, :placeholder => 'Description' %>
    <%= f.submit 'Add Book' %>
<%end%>
