

<h1>Recommended Books</h1>


<% if @recommended_books.present? %>
    <table>
      <tr>
        <th>ISBN</th>
        <th>Title</th>
        <th>Author</th>
        <th>Description</th>
        <th>Status</th>
      </tr>
      <% @recommended_books.each do |recommended_book| %>
          <tr>
            <td><%= recommended_book.isbn %></td>
            <td><%= recommended_book.title %></td>
            <td><%= recommended_book.author %></td>
            <td><%= recommended_book.description %></td>
            <td><%= recommended_book.status %></td>
            <% if recommended_book.status == "Under Review" %>
            <td><%= link_to 'Accept', edit_recommended_book_path(recommended_book) %></td>
            <td><%= link_to 'Decline', recommended_book_path(recommended_book), method: :delete, data: { confirm: 'Are you sure you want to decline the book?'} %></td> 
            <%end %>
          </tr>
      <%end%>
    </table>

    <br/>
    <%= paginate @recommended_books %>
    <%= page_entries_info @recommended_books %>
<% else %>
    <p>There are currently no recommendations </p>
<% end %>
