<h1>Recommend a book</h1>

<%= form_for @recommended_book, url: recommended_books_path do |f|%>
    <%= f.text_field :isbn, :placeholder => 'ISBN' %>
    <%= f.text_field :title, :placeholder => 'Title' %>
    <%= f.text_field :author, :placeholder => 'Authors' %>
    <%= f.text_field :description, :placeholder => 'Description' %>
    <%= f.submit 'Submit Recommendation' %>
<%end%>