<h1><%= @recommended_book.title %></h1>
<p><%= @recommended_book.isbn %></p>
<p><%= @recommended_book.author %></p>
<p><%= @recommended_book.description %></p>
<p><%= @recommended_book.comment %></p>
<p><%= @recommended_book.status %>