<h1><%= @recommended_book.title %></h1>
<p><%= "ISBN : " + @recommended_book.isbn %></p>
<p><%= "Author : " + @recommended_book.author %></p>
<p><%= "Description : " + @recommended_book.description %></p>
<p><%= "Comment : " + @recommended_book.comment %></p>
<p><%= "Status : " + @recommended_book.status %>